@font-face {
  font-family: 'Lobster';
  src: URL('Lobster.otf') format('truetype');}

@font-face {
  font-family: 'Oswald';
  src: URL('Oswald.ttf') format('truetype');}

/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
*/

body {
    background: url(../images/bk.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif; 
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
}

p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 13px;
    line-height: 21px;
}


/**** Start Section Title Section ****/

.section-title h3{
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none; 
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    //font-style: italic;
    font-weight: 300; 
}


/**** Start Logo Section ****/

#logo-section {
    
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}


/* Please Select a Payload*/
.logo span {
    font-size: 20px;
    color: #999;
}



/**** Start Background Color ****/

.purple {
    background: #6633CC;
}

.light-purple {
    background: #993399;
}

.dark-purple {
    background: #990099;
}

.blue {
    background: #0099CC;
}

.dark-blue {
    background: #0066CC;
}

.light-blue {
    background: #3399FF;
}

.green {
    background: #72BF48;
}

.dark-green {
    background: #009900;
}

.red {
    background: #FF432E;
}

.dark-red {
    background: #CC3333;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.CaribbeanGreen {
    background: #0ECEAB;
}



/**** Start Main Body Section ****/

.mainbody-section {
    padding-top: 50px;
    padding-bottom: 30px;
        margin-left: 1em;

}
  /*Buttons */
.menu-item {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
        margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a {
    color: #fff;
    display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* icon in button */
.menu-item a i {
    font-size: 60px;
    padding-bottom: 20px;
}

.menu-item:hover a {
    text-decoration: none;
    //color: #333;
	animation: wobble;
	-webkit-animation: wobble;
	animation-duration: 1000ms;
	-webkit-animation-duration: 1000ms;
}

.copyright {
    background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}